@use "variables" as global;
@use "mixin";

body {
  color: global.$text-color;
  font-family: global.$ff-base;
  font-size: global.$fz-base;
  font-weight: global.$fw-base;
  line-height: global.$lh-base;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

.inner {
  width: 1000px;
  max-width: calc(100% - 90px * 2);
  margin-left: auto;
  margin-right: auto;

  @include mixin.mq(sp) {
    max-width: calc(100% - 20px * 2);
  }
}

.is-SP {
  display: none;

  @include mixin.mq(sp) {
    display: block;
  }
}