.check {
    background: #E6E2EE;
}

.check_inner {}

.check_head {
    text-align: center;
    padding-top: 59px;

}

.check_title {
    color: #887DC5;
    font-size: 28px;
    letter-spacing: 5.04px;
    font-weight: 500;
    
}

.check_subtitle {
    margin-top: 14px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 6.49px;

}

.check_body {
    margin-top: 78px;
}

.check_items {
    display: flex;
    justify-content: space-around;
}

.check_item {
    width: 28%;
    background: #F6F6F6;
    position: relative;
    padding-bottom: 48px;
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);


    &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 28px;
        background: #2A2B2A;
        right: -39px;
        bottom: 185px;
    }

    &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 7px;
        background: #2A2B2A;
        right: -39px;
        bottom: 187px;
        transform: rotate(45deg);
    }

    &:nth-child(3) {

        &::before {
            display: none;
        }
    
        &::after {
            display: none;
        }
    }

}

.check_img {}

.check_number {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 3.92px;
    line-height: 1.43;
    margin-top: 14px;
    margin-left: 20px;
    position: relative;
    display: inline-block;


    &::after {
        content: "";
        width: 12px;
        height: 1px;
        left: 50%;
        bottom: -1px;
        transform: translateX(-50%);
        background: #000;
        position: absolute;
    }
}

.check_info {
    font-size: 20px;
    letter-spacing: 0.8px;
    list-style: 1.437;
    margin-left: 20px;
    margin-top: 20px;
}

.check_text {
    font-weight: 300;
    letter-spacing: 1.28px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 36px;
    padding-bottom: 40px;
}
