@use "variables" as global;
@use "mixin";

.concept {
  margin-top: 106px;
  height: 838px;
}
.concept_contents {
  margin-top: 125px;
  display: flex;
}
.concept_picture {
  flex: 0 0 50%;
  img {
    width: 100%;
  }
}
.concept_text {
  flex: 0 1 50%;
  margin-left: 70px;
}
.concept_title {
  color: #887dc5;
  margin-top: 69px;
  font-size: 28px;
  font-family: global.$ff-en;
  font-weight: 500;
  letter-spacing: 0.18em;
}
.concept_text_title {
  margin-top: 28px;
  font-size: 20px;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.18em;
}
.concept_text_message {
  margin-top: 88px;
  font-size: 16px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.065em;
}
