@use "variables" as global;
@use "mixin" as m;

// 余白
$padding-pc: 24px;
$padding-tab: 24px;
$padding-sp: 16px;

// ヘッダー高さ
$header-height-pc: 100px;
$header-height-sp: 62px;

// ハンバーガーアイコン
$drawer-bar-space: 6px;
$drawer-bar-width: 25.134px;
$drawer-bar-height: 2px;
$drawer-content-width: 200px;

.header {
  background: #f5f5fe;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: map-get(global.$layer, "header");
  height: $header-height-pc;

  @include m.mq("sp") {
    height: $header-height-sp;
  }
}

.header_inner {
  display: flex;
  align-items: center;
  height: inherit;
  padding-top: 30px;
  padding-bottom: 30px;

  @include m.mq("sp") {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
.header_logo {
  font-size: 24px;
  font-weight: 300;
  @include m.mq("sp") {
    font-size: 20px;
    margin-left: 30px;
  }
}

.header_nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 300;
  font-size: global.$fz-base;
  font-family: global.$ff-en;

  @include m.mq("sp") {
    display: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      margin-right: 77px;

      &:last-child {
        margin-right: 0;
      }

      a {
        transition: all 0.3s ease 0s;
        text-decoration: none;
        color: global.$text-color;
        display: block;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
          height: 2px;
          // background: $color-active;
          opacity: 0;
          transition: all 0.3s ease 0s;
        }

        &.active {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}

.nav_icon {
  display: none;
  position: fixed;
  right: $padding-sp;
  top: 12px;
  z-index: map-get(global.$layer, "drawer") + 1;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 0;

  &.active {
    transform: translateX(-$drawer-content-width);
  }

  @include m.mq("sp") {
    display: block;
  }
}

.nav_icon_bars {
  display: inline-block;
  width: $drawer-bar-width;
  height: $drawer-bar-height + ($drawer-bar-space + $drawer-bar-height) * 2;
  position: relative;
  vertical-align: bottom;
}

.nav_icon_bar {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  background: #000000;
  width: 100%;
  height: $drawer-bar-height;
  border-radius: 0;
  transition: all 0.3s linear 0s;

  &:nth-of-type(1) {
    top: 0;
  }

  &:nth-of-type(2) {
    top: $drawer-bar-space + $drawer-bar-height;
  }

  &:nth-of-type(3) {
    top: ($drawer-bar-space + $drawer-bar-height) * 2;
  }

  .active & {
    background: #fff;

    &:nth-of-type(1) {
      top: 10px;
      transform: rotate(-45deg);
    }

    &:nth-of-type(2) {
      background: transparent;
    }

    &:nth-of-type(3) {
      top: 10px;
      transform: rotate(45deg);
    }
  }
}

.drawer_background {
  display: none;
  position: fixed;
  z-index: map-get(global.$layer, "drawer") - 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.5s ease 0s;

  &.active {
    display: block;
    opacity: 0.8;
  }
}

.nav_content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  transform: translateX(105%);
  z-index: map-get(global.$layer, "drawer");
  width: $drawer-content-width;
  max-width: 90%;
  height: 100%;
  background: #fff;
  transition: all 0.5s ease 0s;
  text-align: left;
  color: #707070;

  &.active {
    transform: translateX(0);
    box-shadow: 6px 0 25px rgba(#000, 0.16);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        font-family: global.$ff-en;
        text-decoration: none;
        display: block;
        position: relative;
        padding: 20px;
        text-align: center;
        color: #707070;

        &::after {
          content: "";
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          width: 7px;
          height: 11px;
        }
      }
    }
  }
}
