@use "variables" as global;
@use "mixin";

.top {
  margin-top: 100px;
  height: 700px;
  background: url(/img/top.png) no-repeat center center / cover;
  font-style: global.$ff-base;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 9.5%;
    // transform: translatex(-30%);
    width: 212px;
    height: 700px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.37) 0%,
      rgba(255, 255, 255, 0.44) 35.94%,
      rgba(255, 255, 255, 0.46) 65.1%,
      rgba(255, 255, 255, 0.81) 99.99%,
      rgba(239, 239, 239, 0.8) 100%
    );
    transform: skew(-15deg); /* 平行四辺形の傾斜角度 */
  }
}

.top_contents {
  padding-top: 198px;
  text-align: right;
  width: 100%;
}

.top_title {
  font-size: 36px;
  letter-spacing: 0.315em;
  position: relative;
}

.top_btn {
  margin-top: 106px;
  a {
    display: inline-block;
    text-align: left;
    width: 453px;
    max-width: 100%;
    height: 79px;
    line-height: 79px;
    font-size: 26px;
    font-weight: 400;
    padding: 0 43px;
    color: #fff;
    letter-spacing: 0.165em;
    background: global.$main-color;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    text-decoration: none;
    transition: all 0.3s ease 0s;
    // @include mq("sp") {
    //   width: 280px;
    //   height: 60px;
    //   line-height: 60px;
    //   font-size: 24px;
    // }
    position: relative;

    &:hover {
      opacity: 0.7;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    &::before {
      width: 25px;
      bottom: 30px;
      right: 40px;

      border-bottom: 2px solid #fff;
    }

    &::after {
      width: 10px;
      height: 1px;
      top: 44px;
      right: 39.5px;
      border-top: 2px solid #fff;
      transform: rotate(40deg);
    }
  }
}
