// 色
$main-color: #65509F; // メインカラー
$accent-color: #887DC5; // アクセントカラー
$text-color: #2A2B2A; // テキストカラー
$link-color: #1592e6; // リンクカラー
$border-color: #DCB398; // ボーダーカラー

// フォント
$ff-en: 'Montserrat', sans-serif; // 英字
$ff-base: 'Noto Serif JP', sans-serif; // 日本語標準
$fz-base: 16px; // ベースフォントサイズ
$fw-base: 500; // ベースフォントウェイト
$lh-base: 1.8; // ベース行間

// レイアウト
$inner-width: 1000px; // インナー幅サイズ

// 重なり順の定義
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // フローティング
  floating: 30,
  // ヘッダー
  header: 20,
  // フッター
  footer: 10,
  default: 1
);